.weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  font-family: arial, sans-serif;
  padding: 16px;
}

.weather h1 {
  color: #202124;
  color: rgb(32, 33, 36);
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  color: #70757a;
  color: rgb(112, 117, 122);
  display: block;
  font-size: 16px;
  line-height: 20px;
}
.weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}
.weather .temperature {
  color: rgb(32, 33, 36);
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  margin-left: 10px;
}

.weather .unit {
  color: rgb(32, 33, 36);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
  margin-left: 5px;
}
