.weather {
  border: 1px solid #dadde1;
  background: #2b3964;
  border-radius: 4px;
  font-family: arial, sans-serif;
  padding: 16px;
  color: whitesmoke;
}

.weather h1 {
  color: white;
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  color: #6088bb;
  color: rgb(112, 117, 122);
  display: block;
  font-size: 16px;
  line-height: 20px;
}
.weather canvas {
  margin: 10px auto;
}
.weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  margin-left: 10px;
}

.weather .unit {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
}
